<% include header %>

<div class="row center-text">
	<h5>Thank you for participation</h5>
	By clicking on start button you agree to use your computational power for purpose of analysing DNA sequence. This process
	is stopable at any time.
</div>
<div class="row center-text">
	<b>Your computational time spend:</b><br>
	<%=computedTimeHours%>h:<%=computedTimeMinutes%>min
</div>
<div class="row center-text">
  <a href="computing" class="waves-effect waves-light btn">START</a>
</div>




<% include footer %>