<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>

  <link rel="stylesheet" href="/components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="/css/style.css">


  <script src="/components/socket.io-client/socket.io.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/bootstrap/dist/js/bootstrap.js"></script>
</head>
<body>
