<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title><%-title %></title>

  <link rel="stylesheet" href="/components/materialize/dist/css/materialize.css">
  <link rel="stylesheet" href="/css/style.css">


  <script src="/components/socket.io-client/socket.io.js"></script>
  <script src="http://localhost:35729/livereload.js"></script>
  <script src="/components/jquery/dist/jquery.js"></script>
  <script src="/components/materialize/dist/js/materialize.js"></script>
  <script src="/js/main.js"></script>
</head>
<body>
<nav>
  <div class="nav-wrapper">
    <a href="/" class="brand-logo">Diplomovka</a>
    <ul id="nav-mobile" class="right">
      <li>
        <a href="/Documentation">Documentation</a>
      </li>
      <li><a href="/logout">
          <% if(locals.user){ %>
            <%=user.username%>
          <%}else{%>
            <%="guest"%>
          <%}%>
      </a></li>
    </ul>
  </div>
</nav>
<div class="container">

