<% include header %>

<div class="row" style="text-align: center">
  <h4>NO samples yet</h4>
  <a class="btn-floating btn-medium waves-effect waves-light red" style="position: absolute; left: calc(50% - 20px);" href="settask"><i class="mdi-content-add"></i></a>
</div>

<% include footer %>