body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

nav {
  padding: 0px 15px;
}

.center-text {
  text-align: center;
}

tr {
  &.success {
    background-color: #c8e6c9;
  }

  &.failure {
    background-color: #ffcdd2;
  }
}

@-webkit-keyframes rotating {
  from{
    -webkit-transform: rotate(0deg);
  }
  to{
    -webkit-transform: rotate(360deg);
  }
}

.rotating {
  -webkit-animation: rotating 2s linear infinite;
}
